body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/ggg.jpg),no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    
}
.Login{
    width: 320px;
    height: 420px;
    background: #3b3737;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    opacity: 90%;
    padding: 30px 70px;

}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin-top: 0px;
    padding: 0;
    font-size: 24px;
    text-align: center;
}
.Login p{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.Login input{
    width: 100%;
    margin-bottom: 20px;
}
.Login input[type="text"], input[type="password"]{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    height: 40px;
    font-size: 12px;;
}
.Login input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    font-family: Times New Roman;
}
.Login input[type="submit"]:hover{
    cursor: pointer;
    background: black;
    color: #fff;
}
.links a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.links a:hover{
    text-decoration: underline;
}

