.img{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.img img{
    height: 250px;
    width: 250px;
    margin: 1rem auto;
}
.product{
    margin-top: 70px;
    text-align: center;
    font-style: italic;
}
.mm:hover{
        transform:scale(1.1);
        z-index:1;
}